@tailwind base;
@tailwind components;
* {
  font-family: "Roboto";
}
body,
html {
  width: 100%;
  height: 100%;
}
body {
  background-color: black;
}
.boxes {
  @apply m-1 bg-[#121212] rounded-lg;
}
.para {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

.songList {
  @apply invert px-4  overflow-y-auto h-[40%];
}
.songList ul {
  @apply overflow-y-hidden;
}
.songList ul li {
  @apply list-decimal font-bold text-base flex gap-8 cursor-pointer py-1 border-2 border-zinc-300 rounded-2xl px-2 my-2 w-full;
}
.songList:hover {
  box-shadow: inset 0px -3px 15px 0px #fafffa;
}
.songList{
  transition: all 1s ease;
}
.info {
  @apply w-[57%];
}
.info div {
  /* text-overflow: clip;
  text-wrap: nowrap; */
  @apply overflow-clip truncate text-base whitespace-nowrap w-full;
}

.playnow {
  @apply flex items-center;
}
.playnow span {
  @apply w-20;
}
.playnow img {
  @apply w-7;
}
::-webkit-scrollbar {
  display: none;
  visibility: hidden;
  width: 10px;
}
@tailwind utilities;
