@tailwind base;
@tailwind components;
* {
  font-family: "Roboto";
}
body,
html {
  width: 100%;
  height: 100%;
}
body {
  background-color: black;
}
.boxes {
  @apply m-1 bg-[#121212] rounded-lg;
}
.para{
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

.songList{
  @apply  invert px-4;
}
.songList ul{
  @apply px-4;
}
.songList ul li{
  @apply list-decimal;
}
::-webkit-scrollbar {
  display: none;
  visibility: hidden;
  width: 10px;
}
@tailwind utilities;
